public net.minecraft.world.level.block.FireBlock setFlammable(Lnet/minecraft/world/level/block/Block;II)V
public net.minecraft.world.level.block.entity.BrushableBlockEntity brushingCompleted(Lnet/minecraft/world/entity/player/Player;)V
#public net.minecraft.world.level.levelgen.feature.treedecorators.AlterGroundDecorator placeBlockAt(Lnet/minecraft/world/level/levelgen/feature/treedecorators/TreeDecorator$Context;Lnet/minecraft/core/BlockPos;Lnet/neoforged/neoforge/event/level/AlterGroundEvent$StateProvider;)V
public net.minecraft.world.level.chunk.LevelChunkSection biomes
public net.minecraft.world.level.levelgen.DensityFunctions$Marker
public net.minecraft.world.level.levelgen.DensityFunctions$Marker <init>(Lnet/minecraft/world/level/levelgen/DensityFunctions$Marker$Type;Lnet/minecraft/world/level/levelgen/DensityFunction;)V
public net.minecraft.world.level.levelgen.SurfaceRules$Context
public net.minecraft.world.level.levelgen.SurfaceRules$Context chunk
public net.minecraft.world.level.levelgen.SurfaceRules$Context blockX
public net.minecraft.world.level.levelgen.SurfaceRules$Context blockZ
public net.minecraft.world.level.levelgen.SurfaceRules$LazyXZCondition
public net.minecraft.world.level.levelgen.SurfaceRules$Context$SteepMaterialCondition
public net.minecraft.world.level.levelgen.SurfaceRules$Context$SteepMaterialCondition compute()Z
public net.minecraft.world.level.block.FireBlock isNearRain(Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;)Z
public net.minecraft.world.level.block.LadderBlock canAttachTo(Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/core/BlockPos;Lnet/minecraft/core/Direction;)Z
public net.minecraft.world.level.block.BaseRailBlock canSurvive(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/LevelReader;Lnet/minecraft/core/BlockPos;)Z
public net.minecraft.world.level.block.BaseRailBlock shouldBeRemoved(Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/Level;Lnet/minecraft/world/level/block/state/properties/RailShape;)Z
public net.minecraft.world.level.block.RailState removeSoftConnections()V
public net.minecraft.world.level.block.RailState canConnectTo(Lnet/minecraft/world/level/block/RailState;)Z
public net.minecraft.world.level.block.RailState connectTo(Lnet/minecraft/world/level/block/RailState;)V
public net.minecraft.world.level.block.RailState pos
public net.minecraft.world.level.block.RailState hasConnection(Lnet/minecraft/core/BlockPos;)Z
public net.minecraft.world.effect.MobEffect AMBIENT_ALPHA
public-f net.minecraft.world.effect.MobEffect particleFactory
public net.minecraft.world.entity.projectile.ThrownPotion applyWater()V
public net.minecraft.world.entity.projectile.ThrownPotion isLingering()Z
public net.minecraft.world.entity.projectile.ThrownPotion makeAreaOfEffectCloud(Lnet/minecraft/world/item/alchemy/PotionContents;)V
public net.minecraft.world.entity.projectile.ThrownPotion applySplash(Ljava/lang/Iterable;Lnet/minecraft/world/entity/Entity;)V
public net.minecraft.world.entity.animal.Wolf$WolfAvoidEntityGoal
public net.minecraft.world.level.biome.FeatureSorter$StepFeatureData
public-f net.minecraft.world.level.chunk.ChunkGenerator featuresPerStep
public net.minecraft.world.entity.LivingEntity jumping
public net.minecraft.client.renderer.LevelRenderer addParticleInternal(Lnet/minecraft/core/particles/ParticleOptions;ZDDDDDD)Lnet/minecraft/client/particle/Particle;
public net.minecraft.world.level.block.CakeBlock eat(Lnet/minecraft/world/level/LevelAccessor;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/entity/player/Player;)Lnet/minecraft/world/InteractionResult;
public net.minecraft.world.level.levelgen.DensityFunctions$PureTransformer
public net.minecraft.world.level.levelgen.SurfaceSystem clayBandsOffsetNoise
public net.minecraft.world.level.levelgen.SurfaceRules$Condition
public net.minecraft.world.level.levelgen.SurfaceRules$LazyYCondition
public net.minecraft.world.level.levelgen.SurfaceRules$SurfaceRule
public net.minecraft.world.level.levelgen.SurfaceRules$Context context
public net.minecraft.world.level.levelgen.SurfaceRules$Context system
public net.minecraft.world.level.levelgen.SurfaceRules$Context temperature
public net.minecraft.world.level.levelgen.SurfaceRules$Context steep
public net.minecraft.world.level.levelgen.SurfaceRules$Context hole
public net.minecraft.world.level.levelgen.SurfaceRules$Context abovePreliminarySurface
public net.minecraft.world.level.levelgen.SurfaceRules$Context randomState
public net.minecraft.world.level.levelgen.SurfaceRules$Context chunk
public net.minecraft.world.level.levelgen.SurfaceRules$Context noiseChunk
public net.minecraft.world.level.levelgen.SurfaceRules$Context biomeGetter
public net.minecraft.world.level.levelgen.SurfaceRules$Context lastPreliminarySurfaceCellOrigin
public net.minecraft.world.level.levelgen.SurfaceRules$Context preliminarySurfaceCache
public net.minecraft.world.level.levelgen.SurfaceRules$Context lastUpdateXZ
public net.minecraft.world.level.levelgen.SurfaceRules$Context surfaceDepth
public net.minecraft.world.level.levelgen.SurfaceRules$Context lastSurfaceDepth2Update
public net.minecraft.world.level.levelgen.SurfaceRules$Context surfaceSecondary
public net.minecraft.world.level.levelgen.SurfaceRules$Context minSurfaceLevel
public net.minecraft.world.level.levelgen.SurfaceRules$Context lastMinSurfaceLevelUpdate
public net.minecraft.world.level.levelgen.SurfaceRules$Context blockY
public net.minecraft.world.level.levelgen.SurfaceRules$Context lastUpdateY
public net.minecraft.world.level.levelgen.SurfaceRules$Context pos
public net.minecraft.world.level.levelgen.SurfaceRules$Context biome
public net.minecraft.world.level.levelgen.SurfaceRules$Context waterHeight
public net.minecraft.world.level.levelgen.SurfaceRules$Context stoneDepthBelow
public net.minecraft.world.level.levelgen.SurfaceRules$Context stoneDepthAbove
public-f net.minecraft.resources.RegistryFileCodec
public net.minecraft.resources.RegistryFileCodec registryKey
public net.minecraft.resources.RegistryFileCodec elementCodec
public net.minecraft.resources.RegistryFileCodec allowInline
public net.minecraft.resources.RegistryFileCodec <init>(Lnet/minecraft/resources/ResourceKey;Lcom/mojang/serialization/Codec;Z)V
public net.minecraft.core.Holder$Reference owner
public net.minecraft.core.Holder$Reference tags
public net.minecraft.core.Holder$Reference type
public net.minecraft.core.Holder$Reference key
public net.minecraft.core.Holder$Reference value
public net.minecraft.world.level.levelgen.structure.pools.JigsawPlacement$Placer placing
public net.minecraft.world.level.levelgen.structure.pools.JigsawPlacement$PieceState
public net.minecraft.world.level.levelgen.structure.pools.JigsawPlacement$PieceState <init>(Lnet/minecraft/world/level/levelgen/structure/PoolElementStructurePiece;Lorg/apache/commons/lang3/mutable/MutableObject;I)V
public net.minecraft.world.level.levelgen.structure.pools.JigsawPlacement$Placer
public net.minecraft.world.level.levelgen.structure.pools.JigsawPlacement$Placer <init>(Lnet/minecraft/core/Registry;ILnet/minecraft/world/level/chunk/ChunkGenerator;Lnet/minecraft/world/level/levelgen/structure/templatesystem/StructureTemplateManager;Ljava/util/List;Lnet/minecraft/util/RandomSource;)V
#public net.minecraft.world.level.levelgen.structure.pools.JigsawPlacement$Placer tryPlacingChildren(Lnet/minecraft/world/level/levelgen/structure/pools/PoolElementStructurePiece;Lorg/apache/commons/lang3/mutable/MutableObject;IZLnet/minecraft/world/level/LevelHeightAccessor;Lnet/minecraft/world/level/levelgen/RandomState;Lnet/minecraft/world/level/levelgen/structure/pools/PoolAliasLookup;Lnet/minecraft/world/level/levelgen/structure/pools/LiquidSettings;)V
public net.minecraft.world.item.BoatItem type
public net.minecraft.world.item.BoatItem hasChest
public net.minecraft.client.renderer.GameRenderer getFov(Lnet/minecraft/client/Camera;FZ)D
public net.minecraft.client.gui.Gui overlayMessageTime
public net.minecraft.world.entity.ai.goal.MeleeAttackGoal path # path
public net.minecraft.world.entity.ai.goal.MeleeAttackGoal lastCanUseCheck # lastCanUseCheck
public net.minecraft.world.entity.ai.goal.MeleeAttackGoal ticksUntilNextAttack # ticksUntilNextAttack
public net.minecraft.world.entity.ai.goal.MeleeAttackGoal followingTargetEvenIfNotSeen # followingTargetEvenIfNotSeen
public net.minecraft.world.level.levelgen.NoiseChunk noiseSettings
public net.minecraft.world.level.levelgen.NoiseChunk cellWidth()I
public net.minecraft.world.level.levelgen.NoiseChunk cellHeight()I
public net.minecraft.client.sounds.SoundManager soundEngine
public net.minecraft.world.level.biome.Biome getTemperature(Lnet/minecraft/core/BlockPos;)F
public net.minecraft.world.level.chunk.ChunkGeneratorStructureState biomeSource
public net.minecraft.world.level.entity.TransientEntitySectionManager$Callback
public net.minecraft.world.entity.Entity levelCallback
public net.minecraft.world.level.entity.TransientEntitySectionManager$Callback currentSection
public net.minecraft.client.renderer.LevelRenderer renderBuffers
public net.minecraft.client.renderer.LevelRenderer starBuffer
public net.minecraft.client.renderer.LevelRenderer createStars()V
public net.minecraft.client.player.LocalPlayer jumpRidingTicks # jumpRidingTicks
public net.minecraft.client.player.LocalPlayer jumpRidingScale # jumpRidingScale
public net.minecraft.client.player.LocalPlayer sendRidingJump()V # sendRidingJump
public net.minecraft.world.entity.item.FallingBlockEntity blockState
public net.minecraft.world.entity.player.Player DATA_PLAYER_MODE_CUSTOMISATION
public net.minecraft.server.players.SleepStatus activePlayers